---

---


<header>
    <nav id="nav-main">
        <div class="navigation-menu">
            <a href="#">Home</a>
            <a href="#">Memberships</a>
            <a href="#">Profile</a>
        </div>
    </nav>
</header>


<script>
    // Starting animation of the nav

    const navElement = document.getElementById('nav-main');

    document.addEventListener("DOMContentLoaded", () =>  {
        
        setTimeout(() => {
            navElement.style.top = '30px';
        }, 200)

        setTimeout(() => {
            navElement.classList.add('border-nav');
        }, 1000);
        
});
    
</script>




